@media (min-width: 200px) {
    .logo {
      max-width: 200px; /* Adjust the max-width as needed */
    }
  }



@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }  