/* Reset styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* General styles */
  .logo {
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .centered-dropdown {
    text-align: center;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Body styles */
  body {
    background-color: #e6dadc;
    border: 10px solid #363141;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }
  
  body::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 10px solid #363141;
    border-radius: 20px;
    z-index: -1;
  }
  
  /* Main content styles */
  main {
    flex-grow: 1;
    padding-bottom: 100px;
    padding-top: 20px;
    margin-bottom: 60px; /* Added */
  }
  
  /* Footer styles */
  .footer {
    background-color: #363141;
    color: #e6dadc;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive styles */
  @media (max-width: 767.98px) {
    main {
      flex-grow: 0;
    }
  }
  
  /* Container wrapper styles */
  .container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }  