/* Reset styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* General styles */
  .logo {
    margin-top: 25px;
    margin-bottom: auto;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
  }

  .card {
    border: 2px solid #000;
    /* width: 300px; */
    /* margin: 5px; */
    /* min-width: 280px; */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-top: auto;
}
  
  .centered-dropdown {
    text-align: center;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards; /* This will retain the final state of the animation */
    opacity: 0; /* Set initial opacity to 0 */
  }
  
  /* Body styles */
  body {
    background-color: #e6dadc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px;
  }

  .custom-button {
    background-color: #363141;
    color: #e6dadc;
    border-color: #363141;
  }
  
  /* Main content styles */
  main {
    flex-grow: 1;
    padding: 20px 0;
  }
  
  /* Footer styles */
  .footer {
    background-color: #363141;
    color: #e6dadc;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  /* Container wrapper styles */
  .container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Sticky footer styles */
  .container-wrapper::after {
    content: "";
    flex-grow: 1;
  }
  
  @media (min-width: 768px) {
    .container-wrapper::after {
      flex-grow: 0;
    }
  }  

  @media (max-width: 767.98px) {
    body {
      flex-direction: column; /* Revert back to column layout for small screens */
    }

  .content {
    flex-grow: 1; /* Fill remaining vertical space */
    overflow-y: auto; /* Enable vertical scrolling for content */
  }
}